
body{
  font-family: Verdana,Geneva,Arial,sans-serif;
  font-size: small;
}

h1,h2{
  font-weight: normal;
  color: #ccbb00;
  /* border-style: solid;
  border-color: blue; */
  border-bottom: thin dotted #888888;
}

h1{
  font-size: 170%;
}

h2{
  font-size: 130%;
}

blockquote{
  font-style: italic;
}

table{
  margin-left: 20px;
  margin-right: 20px;
  border: thin solid black;
  caption-side: bottom;
  /* border-spacing: 30px 30px; */
  border-collapse: collapse;
}

td,th{
  border: thin solid gray;
  padding: 5px;
}

.center-aligned{
  text-align: center;
}

.right-aligned{
  text-align: right;
}

#parent > th{
    background-color: #cc6600;
}

.cellcolor{
  background-color: #fcba7a;
}

ul{
  list-i
}
li{
  list-style-image: url(images/backpack.jpg);
  margin-left: 120px;
  list-style-position: inside;
}
.a{background-color: rgb(18,18,18);}


.b{background-color: rgb(34,34,34);}


.c{background-color: rgb(51,51,51);}


.d{background-color: rgb(68,68,68);}


.e{background-color: rgb(85,85,85);}


.f{background-color: rgb(102,102,102);}


.g{background-color: rgb(119,119,119);}


.h{background-color: rgb(136,136,136);}


.i{background-color: rgb(153,153,153);}


.j{background-color: rgb(170,170,170);}


.k{background-color: rgb(187,187,187);}


.l{background-color: rgb(204,204,204);}


.m{background-color: rgb(221,221,221);}


.n{background-color: rgb(238,238,238);}
