body{
  font-family: Verdana, Helvetica,Arial,sans-serif;
  font-size: small;
  line-height: 1.6em;
}

h1,h2{
  color: #007e7e;
}

h1{
  font-size: 150%;
}

h2{
  font-size: 130%;
}

#guarantee{
  line-height: 1.9em;
  font-style: italic;
  font-family: Georgia, "Times New Roman",Times,serif;
  color: #444444;
  border-color: black;
  border-width: 1px;
  border-style: ridge;
  background-color: #a7cece;
  padding: 25px;
  padding-left: 80px;
  margin: 30px;
  margin-right: 250px;
  background-image: url(images/star.jpg);
  background-repeat: no-repeat;
  background-position: top left;
}

.green {
  color: black;
  background-color: lightgreen;
  opacity: 0.2;
}

.rasberry {
  color: black;
  background-color: lightblue;
  opacity: 0.2;
}

.blueberry {
  color: black;
  background-color: purple;
  opacity: 0.2;
}

.cranberry {
  color: black;
  background-color: red;
  opacity: 0.2;
}

#elixirs {
  border-width: thin;
  border-style: solid;
  border-color: rgb(0, 127, 127);
  width: 200px;
  position: relative;
  text-align: center;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
}

#elixirs > h2{
  color: black;
}

#elixirs > h3{
  color: #d12c47;
}
