body{
  font-family: Verdana, Helvetica,Arial,sans-serif;
  font-size: small;
  line-height: 1.6em;
}

h1,h2{
  color: #007e7e;
}

h1{
  font-size: 150%;
}

h2{
  font-size: 130%;
}


.green {
  color: black;
  background-color: lightgreen;
  opacity: 0.2;
}

.rasberry {
  color: black;
  background-color: lightblue;
  opacity: 0.2;
}

.blueberry {
  color: black;
  background-color: purple;
  opacity: 0.2;
}

.cranberry {
  color: black;
  background-color: red;
  opacity: 0.2;
}
